<div class="slider">
  <ng-container *ngFor="let movie of movies; let i = index">
    <div class="slide" *ngIf="i == currentIndex" @fade>
      <div class="slide-bg">
        <img
          class="image"
          src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
          alt="image"
        />
      </div>
      <div class="slide-pane-container">
        <div class="slide-pane">
          <h2 class="name">{{ movie.title }}</h2>
          <div class="meta">
            <div class="info">
              <span class="rating"
                ><span class="material-icons">star</span>
                <span class="rating-value" *ngIf="movie.vote_average"
                  >{{ movie.vote_average | number:'1.2-2' }}<span>/10</span></span
                ></span
              >
              <span class="reviews">{{ movie.vote_count }} Reviews</span>
              <span class="year">{{ movie.release_date | date : "yyyy" }}</span>
            </div>
          </div>
          <div class="desc mt-3">
            {{ movie.overview }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
