/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,700&display=swap");

:root {
  --bg-color: #212121;
  --bg-color-light: #141414;
  --bg-color-light-grey: #999;
  --text-white-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--text-white-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--text-white-color);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
